.dish {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .dish {
      width: 50%;
      max-width: none;
      margin: 0;
      text-align: left;
    }
  }
  
  @media (min-width: 992px) {
    .dish {
      width: 33.33%;
    }
  }
  